<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TypeMenu</key>
		<array>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>啤酒</string>
				<key>Id</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>果汁</string>
				<key>Id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>碳酸饮料</string>
				<key>Id</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>功能饮料</string>
				<key>Id</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>红酒</string>
				<key>Id</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>咖啡</string>
				<key>Id</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>酸奶</string>
				<key>Id</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>奶茶</string>
				<key>Id</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>茶</string>
				<key>Id</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>牛奶</string>
				<key>Id</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>白酒</string>
				<key>Id</key>
				<integer>10</integer>
			</dict>
		</array>
		<key>menuName</key>
		<string>酒水饮料</string>
		<key>Id</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>TypeMenu</key>
		<array>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>辣条</string>
				<key>Id</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>膨化食品</string>
				<key>Id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>饼干</string>
				<key>Id</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>杏仁</string>
				<key>Id</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>瓜子</string>
				<key>Id</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>葡萄干</string>
				<key>Id</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>麻花</string>
				<key>Id</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>龙虾</string>
				<key>Id</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>方便面</string>
				<key>Id</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>熟食</string>
				<key>Id</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>花生</string>
				<key>Id</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>雪糕</string>
				<key>Id</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>糖果</string>
				<key>Id</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>干果</string>
				<key>Id</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>罐头</string>
				<key>Id</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>蜜饯</string>
				<key>Id</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>即食食品</string>
				<key>Id</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>果冻</string>
				<key>Id</key>
				<integer>17</integer>
			</dict>
		</array>
		<key>menuName</key>
		<string>休闲食品</string>
		<key>Id</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>TypeMenu</key>
		<array>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>豆类</string>
				<key>Id</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>面食</string>
				<key>Id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>调料</string>
				<key>Id</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>米类</string>
				<key>Id</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>menuName</key>
		<string>粮油副食品</string>
		<key>Id</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>TypeMenu</key>
		<array>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>洗漱保养</string>
				<key>Id</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>香皂</string>
				<key>Id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>口腔护理</string>
				<key>Id</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>女士护理</string>
				<key>Id</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>menuName</key>
		<string>个人洗护</string>
		<key>Id</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TypeMenu</key>
		<array>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>消毒液</string>
				<key>Id</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>清洁剂</string>
				<key>Id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>杀虫剂</string>
				<key>Id</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>menuName</key>
		<string>家庭清洁</string>
		<key>Id</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>TypeMenu</key>
		<array>
			<dict>
				<key>typeImage</key>
				<string></string>
				<key>typeName</key>
				<string>女装分会场</string>
				<key>Id</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>menuName</key>
		<string>男装女装</string>
		<key>Id</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
