<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101000</string>
					<key>townname</key>
					<string>东城区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101001</string>
					<key>townname</key>
					<string>西城区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101003</string>
					<key>townname</key>
					<string>崇文区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101004</string>
					<key>townname</key>
					<string>宣武区</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101005</string>
					<key>townname</key>
					<string>朝阳区</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101006</string>
					<key>townname</key>
					<string>丰台区</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101007</string>
					<key>townname</key>
					<string>石景山区</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101008</string>
					<key>townname</key>
					<string>海定区</string>
				</dict>
			</array>
			<key>cityTown9</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101009</string>
					<key>townname</key>
					<string>门头沟区</string>
				</dict>
			</array>
			<key>cityTown10</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101011</string>
					<key>townname</key>
					<string>房山区</string>
				</dict>
			</array>
			<key>cityTown11</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101012</string>
					<key>townname</key>
					<string>通州区</string>
				</dict>
			</array>
			<key>cityTown12</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101013</string>
					<key>townname</key>
					<string>顺义区</string>
				</dict>
			</array>
			<key>cityTown13</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101014</string>
					<key>townname</key>
					<string>昌平区</string>
				</dict>
			</array>
			<key>cityTown14</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101015</string>
					<key>townname</key>
					<string>大兴区</string>
				</dict>
			</array>
			<key>cityTown15</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101016</string>
					<key>townname</key>
					<string>怀柔区</string>
				</dict>
			</array>
			<key>cityTown16</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110101017</string>
					<key>townname</key>
					<string>平谷区</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110228000</string>
					<key>townname</key>
					<string>密云县</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>110229000</string>
					<key>townname</key>
					<string>延庆县</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120101000</string>
					<key>townname</key>
					<string>和平区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120102000</string>
					<key>townname</key>
					<string>河东区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120103000</string>
					<key>townname</key>
					<string>河西区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120104000</string>
					<key>townname</key>
					<string>南开区</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120105000</string>
					<key>townname</key>
					<string>河北区</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120106000</string>
					<key>townname</key>
					<string>红桥区</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120107000</string>
					<key>townname</key>
					<string>塘沽区</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120108000</string>
					<key>townname</key>
					<string>汉沽区</string>
				</dict>
			</array>
			<key>cityTown9</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120109000</string>
					<key>townname</key>
					<string>大港区</string>
				</dict>
			</array>
			<key>cityTown10</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120110000</string>
					<key>townname</key>
					<string>东丽区</string>
				</dict>
			</array>
			<key>cityTown11</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120111000</string>
					<key>townname</key>
					<string>西青区</string>
				</dict>
			</array>
			<key>cityTown12</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120112000</string>
					<key>townname</key>
					<string>津南区</string>
				</dict>
			</array>
			<key>cityTown13</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120113000</string>
					<key>townname</key>
					<string>北辰区</string>
				</dict>
			</array>
			<key>cityTown14</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120114000</string>
					<key>townname</key>
					<string>武清区</string>
				</dict>
			</array>
			<key>cityTown15</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120115000</string>
					<key>townname</key>
					<string>宝坻区</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120221000</string>
					<key>townname</key>
					<string>宁河县</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120223000</string>
					<key>townname</key>
					<string>静海县</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>120225000</string>
					<key>townname</key>
					<string>蓟县</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130101000</string>
					<key>townname</key>
					<string>市辖区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130102000</string>
					<key>townname</key>
					<string>长安区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130103000</string>
					<key>townname</key>
					<string>桥东区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130104000</string>
					<key>townname</key>
					<string>桥西区</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130105000</string>
					<key>townname</key>
					<string>新华区</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130107000</string>
					<key>townname</key>
					<string>井陉矿区</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130108000</string>
					<key>townname</key>
					<string>裕华区</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130121000</string>
					<key>townname</key>
					<string>井陉县</string>
				</dict>
			</array>
			<key>cityTown9</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130123000</string>
					<key>townname</key>
					<string>正定县</string>
				</dict>
			</array>
			<key>cityTown10</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130124000</string>
					<key>townname</key>
					<string>栾城县</string>
				</dict>
			</array>
			<key>cityTown11</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130125000</string>
					<key>townname</key>
					<string>行唐县</string>
				</dict>
			</array>
			<key>cityTown12</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130126000</string>
					<key>townname</key>
					<string>灵寿县</string>
				</dict>
			</array>
			<key>cityTown13</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130127000</string>
					<key>townname</key>
					<string>高邑县</string>
				</dict>
			</array>
			<key>cityTown14</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130128000</string>
					<key>townname</key>
					<string>深泽县</string>
				</dict>
			</array>
			<key>cityTown15</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130129000</string>
					<key>townname</key>
					<string>赞皇县</string>
				</dict>
			</array>
			<key>cityTown16</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130130000</string>
					<key>townname</key>
					<string>无极县</string>
				</dict>
			</array>
			<key>cityTown17</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130131000</string>
					<key>townname</key>
					<string>平山县</string>
				</dict>
			</array>
			<key>cityTown18</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130132000</string>
					<key>townname</key>
					<string>元氏县</string>
				</dict>
			</array>
			<key>cityTown19</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130133000</string>
					<key>townname</key>
					<string>赵县</string>
				</dict>
			</array>
			<key>cityTown20</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130181000</string>
					<key>townname</key>
					<string>辛集市</string>
				</dict>
			</array>
			<key>cityTown21</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130182000</string>
					<key>townname</key>
					<string>藁城市</string>
				</dict>
			</array>
			<key>cityTown22</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130183000</string>
					<key>townname</key>
					<string>晋州市</string>
				</dict>
			</array>
			<key>cityTown23</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130184000</string>
					<key>townname</key>
					<string>新乐市</string>
				</dict>
			</array>
			<key>cityTown24</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130185000</string>
					<key>townname</key>
					<string>鹿泉市</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130201000</string>
					<key>townname</key>
					<string>市辖区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130202000</string>
					<key>townname</key>
					<string>路南区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130203000</string>
					<key>townname</key>
					<string>路北区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130204000</string>
					<key>townname</key>
					<string>古冶区</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130205000</string>
					<key>townname</key>
					<string>开平区</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130207000</string>
					<key>townname</key>
					<string>丰南区</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130208000</string>
					<key>townname</key>
					<string>丰润区</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130223000</string>
					<key>townname</key>
					<string>滦县</string>
				</dict>
			</array>
			<key>cityTown9</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130224000</string>
					<key>townname</key>
					<string>滦南县</string>
				</dict>
			</array>
			<key>cityTown10</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130225000</string>
					<key>townname</key>
					<string>乐亭县</string>
				</dict>
			</array>
			<key>cityTown11</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130227000</string>
					<key>townname</key>
					<string>迁西县</string>
				</dict>
			</array>
			<key>cityTown12</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130229000</string>
					<key>townname</key>
					<string>玉田县</string>
				</dict>
			</array>
			<key>cityTown13</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130230000</string>
					<key>townname</key>
					<string>唐海县</string>
				</dict>
			</array>
			<key>cityTown14</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130281000</string>
					<key>townname</key>
					<string>遵化市</string>
				</dict>
			</array>
			<key>cityTown15</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130283000</string>
					<key>townname</key>
					<string>迁安市</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130301000</string>
					<key>townname</key>
					<string>市辖区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130302000</string>
					<key>townname</key>
					<string>海港区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130303000</string>
					<key>townname</key>
					<string>山海关区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130304000</string>
					<key>townname</key>
					<string>北戴河区</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130321000</string>
					<key>townname</key>
					<string>青龙满族自治县</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130322000</string>
					<key>townname</key>
					<string>昌黎县</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130323000</string>
					<key>townname</key>
					<string>抚宁县</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130324000</string>
					<key>townname</key>
					<string>卢龙县</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130401000</string>
					<key>townname</key>
					<string>市辖区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130402000</string>
					<key>townname</key>
					<string>邯山区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130403000</string>
					<key>townname</key>
					<string>丛台区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130404000</string>
					<key>townname</key>
					<string>复兴区</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130406000</string>
					<key>townname</key>
					<string>峰峰矿区</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130421000</string>
					<key>townname</key>
					<string>邯郸县</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130423000</string>
					<key>townname</key>
					<string>临漳县</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130424000</string>
					<key>townname</key>
					<string>成安县</string>
				</dict>
			</array>
			<key>cityTown9</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130425000</string>
					<key>townname</key>
					<string>大名县</string>
				</dict>
			</array>
			<key>cityTown10</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130426000</string>
					<key>townname</key>
					<string>涉县</string>
				</dict>
			</array>
			<key>cityTown11</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130427000</string>
					<key>townname</key>
					<string>磁县</string>
				</dict>
			</array>
			<key>cityTown12</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130428000</string>
					<key>townname</key>
					<string>肥乡县</string>
				</dict>
			</array>
			<key>cityTown13</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130429000</string>
					<key>townname</key>
					<string>永年县</string>
				</dict>
			</array>
			<key>cityTown14</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130430000</string>
					<key>townname</key>
					<string>邱县</string>
				</dict>
			</array>
			<key>cityTown15</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130431000</string>
					<key>townname</key>
					<string>鸡泽县</string>
				</dict>
			</array>
			<key>cityTown16</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130432000</string>
					<key>townname</key>
					<string>广平县</string>
				</dict>
			</array>
			<key>cityTown17</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130433000</string>
					<key>townname</key>
					<string>馆陶县</string>
				</dict>
			</array>
			<key>cityTown18</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130434000</string>
					<key>townname</key>
					<string>魏县</string>
				</dict>
			</array>
			<key>cityTown19</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130435000</string>
					<key>townname</key>
					<string>曲周县</string>
				</dict>
			</array>
			<key>cityTown20</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130481000</string>
					<key>townname</key>
					<string>武安县</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130501000</string>
					<key>townname</key>
					<string>市辖区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130502000</string>
					<key>townname</key>
					<string>桥东区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130503000</string>
					<key>townname</key>
					<string>桥西区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130521000</string>
					<key>townname</key>
					<string>邢台县</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130522000</string>
					<key>townname</key>
					<string>临城县</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130523000</string>
					<key>townname</key>
					<string>内丘县</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130524000</string>
					<key>townname</key>
					<string>柏乡县</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130525000</string>
					<key>townname</key>
					<string>隆尧县</string>
				</dict>
			</array>
			<key>cityTown9</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130526000</string>
					<key>townname</key>
					<string>任县</string>
				</dict>
			</array>
			<key>cityTown10</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130527000</string>
					<key>townname</key>
					<string>南和县</string>
				</dict>
			</array>
			<key>cityTown11</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130528000</string>
					<key>townname</key>
					<string>宁晋县</string>
				</dict>
			</array>
			<key>cityTown12</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130529000</string>
					<key>townname</key>
					<string>巨鹿县</string>
				</dict>
			</array>
			<key>cityTown13</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130530000</string>
					<key>townname</key>
					<string>新河县</string>
				</dict>
			</array>
			<key>cityTown14</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130531000</string>
					<key>townname</key>
					<string>广宗县</string>
				</dict>
			</array>
			<key>cityTown15</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130532000</string>
					<key>townname</key>
					<string>平乡县</string>
				</dict>
			</array>
			<key>cityTown16</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130533000</string>
					<key>townname</key>
					<string>威县</string>
				</dict>
			</array>
			<key>cityTown17</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130534000</string>
					<key>townname</key>
					<string>清河县</string>
				</dict>
			</array>
			<key>cityTown18</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130535000</string>
					<key>townname</key>
					<string>临西县</string>
				</dict>
			</array>
			<key>cityTown19</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130571000</string>
					<key>townname</key>
					<string>南宫市</string>
				</dict>
			</array>
			<key>cityTown20</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130582000</string>
					<key>townname</key>
					<string>沙河市</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130601000</string>
					<key>townname</key>
					<string>市辖区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130602000</string>
					<key>townname</key>
					<string>新市区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130603000</string>
					<key>townname</key>
					<string>北市区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130604000</string>
					<key>townname</key>
					<string>南市区</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130621000</string>
					<key>townname</key>
					<string>满城县</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130622000</string>
					<key>townname</key>
					<string>清苑县</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130623000</string>
					<key>townname</key>
					<string>涞水县</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130624000</string>
					<key>townname</key>
					<string>阜平县</string>
				</dict>
			</array>
			<key>cityTown9</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130625000</string>
					<key>townname</key>
					<string>徐水县</string>
				</dict>
			</array>
			<key>cityTown10</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130626000</string>
					<key>townname</key>
					<string>定兴县</string>
				</dict>
			</array>
			<key>cityTown11</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130627000</string>
					<key>townname</key>
					<string>唐县</string>
				</dict>
			</array>
			<key>cityTown12</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130628000</string>
					<key>townname</key>
					<string>高阳县</string>
				</dict>
			</array>
			<key>cityTown13</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130629000</string>
					<key>townname</key>
					<string>容城县</string>
				</dict>
			</array>
			<key>cityTown14</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130630000</string>
					<key>townname</key>
					<string>涞源县</string>
				</dict>
			</array>
			<key>cityTown15</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130631000</string>
					<key>townname</key>
					<string>望都县</string>
				</dict>
			</array>
			<key>cityTown16</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130632000</string>
					<key>townname</key>
					<string>安新县</string>
				</dict>
			</array>
			<key>cityTown17</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130633000</string>
					<key>townname</key>
					<string>易县</string>
				</dict>
			</array>
			<key>cityTown18</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130634000</string>
					<key>townname</key>
					<string>曲阳县</string>
				</dict>
			</array>
			<key>cityTown19</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130635000</string>
					<key>townname</key>
					<string>蠡县</string>
				</dict>
			</array>
			<key>cityTown20</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130636000</string>
					<key>townname</key>
					<string>顺平县</string>
				</dict>
			</array>
			<key>cityTown21</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130637000</string>
					<key>townname</key>
					<string>博野县</string>
				</dict>
			</array>
			<key>cityTown22</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130638000</string>
					<key>townname</key>
					<string>雄县</string>
				</dict>
			</array>
			<key>cityTown23</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130681000</string>
					<key>townname</key>
					<string>涿州市</string>
				</dict>
			</array>
			<key>cityTown24</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130682000</string>
					<key>townname</key>
					<string>定州市</string>
				</dict>
			</array>
			<key>cityTown25</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130683000</string>
					<key>townname</key>
					<string>安国市</string>
				</dict>
			</array>
			<key>cityTown26</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130684000</string>
					<key>townname</key>
					<string>高碑店市</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130701000</string>
					<key>townname</key>
					<string>市辖区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130702000</string>
					<key>townname</key>
					<string>桥东区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130703000</string>
					<key>townname</key>
					<string>桥西区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130705000</string>
					<key>townname</key>
					<string>宣化区</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130706000</string>
					<key>townname</key>
					<string>下花园区</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130721000</string>
					<key>townname</key>
					<string>宣化县</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130722000</string>
					<key>townname</key>
					<string>张北县</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130723000</string>
					<key>townname</key>
					<string>康保县</string>
				</dict>
			</array>
			<key>cityTown9</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130724000</string>
					<key>townname</key>
					<string>沽源县</string>
				</dict>
			</array>
			<key>cityTown10</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130725000</string>
					<key>townname</key>
					<string>尚义县</string>
				</dict>
			</array>
			<key>cityTown11</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130726000</string>
					<key>townname</key>
					<string>蔚县</string>
				</dict>
			</array>
			<key>cityTown12</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130727000</string>
					<key>townname</key>
					<string>阳原县</string>
				</dict>
			</array>
			<key>cityTown13</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130728000</string>
					<key>townname</key>
					<string>怀安县</string>
				</dict>
			</array>
			<key>cityTown14</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130729000</string>
					<key>townname</key>
					<string>万全县</string>
				</dict>
			</array>
			<key>cityTown15</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130730000</string>
					<key>townname</key>
					<string>怀来县</string>
				</dict>
			</array>
			<key>cityTown16</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130731000</string>
					<key>townname</key>
					<string>涿鹿县</string>
				</dict>
			</array>
			<key>cityTown17</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130732000</string>
					<key>townname</key>
					<string>赤城县</string>
				</dict>
			</array>
			<key>cityTown18</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130733000</string>
					<key>townname</key>
					<string>崇礼县</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130801000</string>
					<key>townname</key>
					<string>市辖区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130802000</string>
					<key>townname</key>
					<string>双桥区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130803000</string>
					<key>townname</key>
					<string>双滦区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130804000</string>
					<key>townname</key>
					<string>鹰手营子矿区</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130821000</string>
					<key>townname</key>
					<string>承德县</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130822000</string>
					<key>townname</key>
					<string>兴隆县</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130823000</string>
					<key>townname</key>
					<string>平泉县</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130824000</string>
					<key>townname</key>
					<string>滦平县</string>
				</dict>
			</array>
			<key>cityTown9</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130825000</string>
					<key>townname</key>
					<string>隆化县</string>
				</dict>
			</array>
			<key>cityTown10</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130826000</string>
					<key>townname</key>
					<string>丰宁满族自治县</string>
				</dict>
			</array>
			<key>cityTown11</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130827000</string>
					<key>townname</key>
					<string>宽城满族自治县</string>
				</dict>
			</array>
			<key>cityTown12</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130828000</string>
					<key>townname</key>
					<string>围场满族蒙古族自治县</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cityTown1</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130901000</string>
					<key>townname</key>
					<string>市辖区</string>
				</dict>
			</array>
			<key>cityTown2</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130902000</string>
					<key>townname</key>
					<string>新华区</string>
				</dict>
			</array>
			<key>cityTown3</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130903000</string>
					<key>townname</key>
					<string>运河区</string>
				</dict>
			</array>
			<key>cityTown4</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130921000</string>
					<key>townname</key>
					<string>沧县</string>
				</dict>
			</array>
			<key>cityTown5</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130922000</string>
					<key>townname</key>
					<string>青县</string>
				</dict>
			</array>
			<key>cityTown6</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130923000</string>
					<key>townname</key>
					<string>东光县</string>
				</dict>
			</array>
			<key>cityTown7</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130924000</string>
					<key>townname</key>
					<string>海兴县</string>
				</dict>
			</array>
			<key>cityTown8</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130925000</string>
					<key>townname</key>
					<string>盐山县</string>
				</dict>
			</array>
			<key>cityTown9</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130926000</string>
					<key>townname</key>
					<string>肃宁县</string>
				</dict>
			</array>
			<key>cityTown10</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130927000</string>
					<key>townname</key>
					<string>南皮县</string>
				</dict>
			</array>
			<key>cityTown11</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130928000</string>
					<key>townname</key>
					<string>吴桥县</string>
				</dict>
			</array>
			<key>cityTown12</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130929000</string>
					<key>townname</key>
					<string>献县</string>
				</dict>
			</array>
			<key>cityTown13</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130930000</string>
					<key>townname</key>
					<string>孟村回族自治县</string>
				</dict>
			</array>
			<key>cityTown14</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130981000</string>
					<key>townname</key>
					<string>泊头市</string>
				</dict>
			</array>
			<key>cityTown15</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130982000</string>
					<key>townname</key>
					<string>任丘市</string>
				</dict>
			</array>
			<key>cityTown16</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130983000</string>
					<key>townname</key>
					<string>黄骅市</string>
				</dict>
			</array>
			<key>cityTown17</key>
			<array>
				<dict>
					<key>towncode</key>
					<string>130984000</string>
					<key>townname</key>
					<string>河间市</string>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
